.kg-button {
   min-width:90px ;
}
input{
  width: 100%;
}

.kg-row{
  margin: 5px 10px;
}
.heading{
  padding: 1rem;
  margin-bottom: 20px;
  background-color: rgb(88, 107, 106);
  width: 450px;
  height: 60px;
  color: aliceblue;
  font-size: 20px;
 padding-bottom: 5px;
 border-radius: 5px;
 
}

.todo-container{
  border: 1px solid rgb(53, 61, 77);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  height: auto;
  margin: 50px;
  background-color: rgb(215, 233, 250);
}

